<link href="/css/chat.css" rel="stylesheet">
<script src="/js/chat.js"></script>
<div class="col-sm-12 col-sm-offset-4 frame">
    <% include message %>
    <!-- <div class="chat" style="width: 300px; height: 200px; overflow: auto">
        <ul class="chat-list"></ul>
    </div>
    <div>
        <div class="" style="margin:auto;width: 85%;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="type message..." aria-label="message">
                    <span class="input-group-btn">
                <button class="btn " type="button">send</button>
              </span>
                </div>
            
        </div>
    </div> -->
</div>