<div class="chat">
        <div class="chat-title">
            <h1>Shanky Bot</h1>
            <h2>Bot</h2>
            <figure class="avatar">
                <img src="/images/pp.png" /></figure>
        </div>
        <div class="messages">
            <div class="messages-content mCustomScrollbar _mCS_1">



                <!-- <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                    <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;"
                        dir="ltr">

                        <div class="message new">
                            <figure class="avatar"><img src="/images/pp.png"></figure>Hi there, I'm Shanky's Bot and you?
                            <div class="timestamp">0:49</div>
                        </div>
                        <div class="message message-personal new">hi
                            <div class="timestamp">1:2</div>
                        </div>
                        <div class="message new">
                            <figure class="avatar"><img src="/images/pp.png"></figure>Echo:-hi</div>
                        <div class="message message-personal new">ok</div>
                        <div class="message new">
                            <figure class="avatar"><img src="/images/pp.png"></figure>Echo:-ok
                            <div class="timestamp">1:3</div>
                        </div>
                    </div>
                    <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"
                        style="display: none;">
                        <div class="mCSB_draggerContainer">
                            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px; height: 0px;"
                                oncontextmenu="return false;">
                                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                            </div>
                            <div class="mCSB_draggerRail"></div>
                        </div>
                    </div>
                </div> -->




            </div>
        </div>
        <div class="message-box">
            <input type="text" class="message-input" placeholder="Type message..."></input>
            <button type="submit" class="message-submit">Send</button>
        </div>

    </div>