<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= locals.message %>
        </title>
        <script type="text/javascript" src="js/main.js"/></script>
    </head>
    <body>
        
        <h1>
            message:-<%= locals.message %>
        </h1>
        <br/>
        Timer:-
        <p id="timer"> </p>
    </body>
</html>