<style>
    .footer{
        background: #343a40;
    }
</style>
<br/>
<footer class="footer">
    <div class="container">
        <p class="m-0 text-center text-white">© 2018 Alacriti. All Rights Reserved.</p>

    </div>
</footer>