<div class="chat">
        <div class="chat-title">
            <h1>Shanky Bot</h1>
            <h2>Bot</h2>
            <figure class="avatar">
                <img src="/images/pp.png" /></figure>
        </div>
        <div class="messages col-md-12">
            <div class="messages-content mCustomScrollbar _mCS_1 col-md-12">
            </div>
        </div>
        <div class="message-box">
            <input type="text" class="message-input" placeholder="Type message..."></input>
            <button type="submit" class="message-submit">Send</button>
        </div>

    </div>