<html>
    <head>
        <title>
            Documentation on Bot Testing...
        </title>
        <% include partials/header %>

    </head>
    <body>
    <% include partials/nav %>
    <div class="container">
        <%- locals.readmeContent %>
    </div>
    </body>
</html>